<div id="about_photo">
  <%= image_tag('joe_spinning.jpg')%>
</div>
<br><br>
<div id="about_container">
  <p>
    I started this whole music thing back in 05 when I got my first bass guitar and then in 2006 when I bought Ableton Live music production software with about half of my summer earnings from being a bus boy. From that point on making music has pretty much hypnotized me. After school I would sit in my room for hours and write songs simply because I couldn’t stop, if felt so right. Once I started creating something it was hard for anyone to pull me away. Even when friends came over I would sometimes just sit with my headphones on and pay no mind to anything else that was going on because I had to, there wasn’t a choice, it took hold of me.
    <br><br>A few years later I sold my PS3 to buy a single turntable, a mixer and a few vinyl records. I started messing around with sampling and soon my record collection went from about 10 to over 100. Sampling was my shit ever since then. I fell in love the raw sound and feel that the records produce and to me vinyl sampling is the only way a hip-hop beat should be made. Some people assume that sampling doesn’t take skill and that it’s just ripping off other peoples work (and rightly so) but if it is approached correctly, sampling can be made into an art form of monstrous proportions. A record can be turned into an instrument full of the most unique, pure and amazing sounds if it is approached with an open mind and ear.
    <br><br>Many of my beats may sound simple (and some of them are) on the surface but inside of them I strive to create much depth with very small rhythm tweaks, percussion I record form around my studio/room, small tempo changes, snare layering and so on. The secret to my style is that I keep things very disciplined and turn away from flashiness. I create the music when it clicks in my head and feels right to me. I strive to make nothing I don’t intend to or that doesn’t express who I am. Enjoy.
    <br><br>Smooth Jimmy
  </p>
</div>
