<% @disable_navbar = true %>

<div id="splash_page_container">

  <div id="splash_page_title">
    <center><h1><%= "Nae Nae Pony Productions" %></h1></center>
  </div>

  <div id="splash_page_logo">
    <%= link_to image_tag("logo_outline_done.png"), posts_path %>
  </div>

</div>
