<div id="main_page_logo">
  <%= image_tag("logo_outline_done.png") %>
</div>

<div id="news_feed_header">
  <h2>Fresh from NNPP:</h2>
</div>
<div id="news_feed_content">
  <ul>
    <% @posts.each do |post| %>
      <li>
        <span class="post_title"><h3><%= post.post_title %></h3></span><p> - posted <%= time_ago_in_words(post.created_at) %> ago</p>
        <br>
        <span class="post_body"><p><%= post.post_body %></p></span>
      </li>
    <% end %>
  </ul>
</div>
