<div id="splash_page_container">

  <div id="splash_page_title">
    <center><h1><%= link_to "Nae Nae Pony Productions", 'static#index' %></h1></center>
  </div>

  <div id="splash_page_logo">
    <%= image_tag("logo_outline_done.png") %>
  </div>

</div>
