#about_photo {
  margin: 0 auto;
  text-align: center;
  padding-bottom: 3%;
}

#about_photo img {
  width: 30%;
  text-align: center;
  margin: 0 auto;
  border: 2px solid white;
  border-radius:10%;
}

#about_container {
  width: 60%;
  text-align: center;
  margin: 0 auto;


}

#about_container p {
 font-size: 1.25em;
}
