#about_photo {
  margin: 0 auto;
  text-align: center;
  padding-bottom: 3%;
}

#about_photo img {
  width: 40%;
  text-align: center;
  margin: 0 auto;
  border: 2px solid white;
  border-radius:10%;
}

#about_container {
  width: 80%;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 10%;
  max-width: 90%;
  border: 1px solid #ffeb7f;
  padding: 1em;
  background-color: rgba(0, 0, 0, .4);
  margin-bottom: 5%;

}

#about_container p {
 font-size: 1.25em;
}
