#contact_photo {
  margin: 0 auto;
  text-align: center;
  padding-bottom: 5%;
}


#contact_photo img {
  width: 30%;
  text-align: center;
  margin: 0 auto;
  border: 2px ridge white;
  border-radius:50%;
}
