#contact_photo {
  margin: 0 auto;
  text-align: center;
  padding-bottom: 5%;
}


#contact_photo img {
  width: 45%;
  text-align: center;
  margin: 0 auto;
  border: 2px solid white;
  border-radius: 50%;
}

.contact_field {
  padding: 1em;
  text-align: center;
  font-size: 1em;
}

#contact_form {
  border: 1px solid #ffeb7f;
  background-color: rgba(0, 0, 0, .4);
  width: 50%;
  text-align: center;
  margin: 0 auto;
  padding: 2em 1em;
}


.contact_field label {
  padding: .5em;
  width: 100px;
  text-align: center;
  -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
     -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
          box-sizing: border-box;
}

.contact_field input textarea button{
  min-width: 100%;
  text-align: center;
  -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
     -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
          box-sizing: border-box;
}


/*flash*/

.alert-error {
background-color: #f2dede;
border-color: #eed3d7;
color: #b94a48;
text-align: left;
}

.alert-alert {
background-color: #f2dede;
border-color: #eed3d7;
color: #b94a48;
text-align: left;
}

.alert-success {
background-color: #dff0d8;
border-color: #d6e9c6;
color: #468847;
text-align: left;
}

.alert-notice {
background-color: #dff0d8;
border-color: #d6e9c6;
color: #468847;
text-align: left;
}
