.devise_container {
  border: 1px solid #ffeb7f;
  padding: 1em;
  background-color: rgba(0, 0, 0, .4);
  text-align: center;
  width: 50%;
  margin: 0 auto;
  margin-top: 10%;
}

.devise_container input {
  margin: .5em;
}

.actions {

}
