.soundcloud_players {
  width: 60%;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 5%;

}

#songs_header {
  padding: 5%;
  padding-top: 0;
}

#soundcloud_one {
  border: 2px solid white;
}

#soundcloud_two {
  border: 2px solid white;
}

#soundcloud_three {
  border: 2px solid white;
}

#soundcloud_four {
  border: 2px solid white;
}

#soundcloud_five {
  border: 2px solid white;
}
