html, body {
  height: 95%;
}

body {
  background: url("dark_wood.jpg") no-repeat 50% 50% fixed;
  background-size: cover;
  font-family: 'Poiret One', cursive;
  background-color: #000;
  color: #fff;
}

#splash_page_logo {
  text-align: center;
  min-width: 300px;
  margin-right: 4%;
}

#splash_page_title h1{
  font-size: 5em;
}

#splash_page_container {
  margin: 0 auto;
}

#splash_page_title {
  margin-top: 15%;
}

#user_nav {
  padding-top: 1em;
}

#footer {
  margin-bottom: -2em;
}

.container {
  min-height: 100%;
}

input {
  color: black;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color:salmon;
  cursor: pointer;
  text-decoration: none;
}
